*{
	box-sizing: border-box;
}
body{
	font-family: verdana, sans-serif;
	font-size: 9px;
}
#contain{
	height: 100vh;
	border: solid red 1px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}
#contain .caja{
	display: flex;
}
#contain .caja p{
	border: solid 3px red;
	padding: 5px;
}